streamlit
supabase
pandas
streamlit-searchbox
python-escpos
reportlab
openpyxl
streamlit
python-dotenv
bcrypt
qrcode
plotly
try:
    from postgrest.exceptions import APIError
except ImportError:
    APIError = Exception
